*{
  padding: 0;
  margin: 0;

}

.Sige {
  background-image: url(inazuma.jpg);
  height: 100vh;
  display: flex;
  color: white;
  
}

.p{
  text-align: center;
  color: white;
  font-size: 30px;
  justify-content: center;
}

.Sige h1{
font-size: 70px;
text-align: center;
color: white;


}

.qwe {
  background-color: beige;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards{
  height: 40%;
  width: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.asd{
  background-color: gray;
  height: 90%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  
}

.asd img {
  height: 200px;
  width: 200px;
  
}